@model First_PRO.Models.Category

@{
    ViewData["Title"] = "CreateCat";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create Category</h1>


<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form asp-action="CreateCat" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-success" />
                    <button asp-action="Categories" class="btn btn-outline-danger">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>



