@model First_PRO.Models.User


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["UserNumber"] = ViewBag.userIdValue;
    ViewData["UserImage"] = ViewBag.UserImagePath;
    ViewData["Username"] = Model.Username;
}

<!-- partial -->

<div class="row">
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>Registered users</h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">@ViewBag.TotalUsersCount</h2>
                        </div>
                        <h6 class="text-muted font-weight-normal">Number of Registered users</h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-account-circle text-primary ml-auto"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>Registered chefs</h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">@ViewBag.TotalChefsCount</h2>
                        </div>
                        <h6 class="text-muted font-weight-normal"> Number of Registered chefs</h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-account-box text-danger ml-auto"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>Added Recipes</h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">@ViewBag.TotalRecipesCount</h2>
                        </div>
                        <h6 class="text-muted font-weight-normal">Number of Added Recipes</h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-animation text-success ml-auto"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Visitors by Countries</h4>
                <div class="row">
                    <div class="col-md-5">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <i class="flag-icon flag-icon-jo"></i>
                                        </td>
                                        <td>@Model.Address</td>
                                        <td class="text-right"> 1500 </td>
                                        <td class="text-right font-weight-medium"> 56.35% </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="flag-icon flag-icon-de"></i>
                                        </td>
                                        <td>Germany</td>
                                        <td class="text-right"> 800 </td>
                                        <td class="text-right font-weight-medium"> 33.25% </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="flag-icon flag-icon-au"></i>
                                        </td>
                                        <td>Australia</td>
                                        <td class="text-right"> 760 </td>
                                        <td class="text-right font-weight-medium"> 15.45% </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="flag-icon flag-icon-gb"></i>
                                        </td>
                                        <td>United Kingdom</td>
                                        <td class="text-right"> 450 </td>
                                        <td class="text-right font-weight-medium"> 25.00% </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="flag-icon flag-icon-ro"></i>
                                        </td>
                                        <td>Romania</td>
                                        <td class="text-right"> 620 </td>
                                        <td class="text-right font-weight-medium"> 10.25% </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="flag-icon flag-icon-br"></i>
                                        </td>
                                        <td>Brasil</td>
                                        <td class="text-right"> 230 </td>
                                        <td class="text-right font-weight-medium"> 75.00% </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div id="audience-map" class="vector-map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<!-- content-wrapper ends -->
