@model IEnumerable<User>

@{
    Layout = "~/Views/Shared/_ChefLayout.cshtml";
}

<h1>All Chefs with Their Recipes</h1>
<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <h1 class=" section-title ff-secondary text-center mb-5 text-warning fw-normal ">Our Chefs</h1>
        </div>
        <div class="row g-4 " >
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 wow fadeInUp " data-wow-delay="0.1s">
                        <div class="team-item text-center rounded-3 overflow-hidden bg-dark border border-warning">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid bg-light" src="~/Home/img/team-1.jpg" alt="">
                            </div>
                            <h5 class="mb-0">@item.Username</h5>
                            <small>Chef in Recipe Blog</small>
                            <div class="d-flex justify-content-center mt-3">
@*                                <button asp-action="Index" class="btn btn-warning m-3">View Recipes</button>
*@                                <button class="btn btn-warning m-3" onclick="window.location.href='@Url.Action("GetRecipes", "Chef", new { chefId = item.Id })'">View Recipes</button>


                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No data available.</p>
            }
        </div>
    </div>
            </div>
        </div>
    </div>
</div>