@model First_PRO.Models.Recipe

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ChefLayout.cshtml";
    ViewData["UserNumber"] = ViewBag.userIdValue;

    ViewData["UserImage"] = ViewBag.UserImagePath;
    ViewData["Username"] = ViewBag.Username;
}

<h1>Create New Recipe</h1>



<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-action="ChefCreate" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="Recipe Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
     
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" placeholder="Price" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" placeholder="Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CatId" class="control-label"></label>
                    <select asp-for="CatId" class="form-control" asp-items="ViewBag.CatId"></select>
                </div>

                <input type="submit" value="Create" class="btn btn-primary" />
                <button asp-action="Recipe" class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>

</div>
