@model First_PRO.Models.Recipe

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_ChefLayout.cshtml";
}

<h1 class="m-3">Edit Recipe</h1>

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
        <form asp-action="ChefEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
        
         
            <div class="form-group">
                    <label @Html.DisplayNameFor(model => model.CatId) class="control-label"></label>
                <select asp-for="CatId" class="form-control" asp-items="ViewBag.CatId"></select>
                <span asp-validation-for="CatId" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-outline-success" />
                    <button asp-action="Recipe" class="btn btn-outline-danger">Cancel</button>

            </div>
        </form>
    </div>
</div>


