@model User
@{
    Layout = "~/views/shared/_LoginAndRegisterLayout.cshtml";
}

<!-- Sing in  Form -->
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/LoginAndRegister/images/pixelcut-export.jpeg" alt="sing up image"></figure>
                
            </div>

            <div class="signin-form">
                <h2 class="form-title">Login</h2>
                <form method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        <label asp-for="Username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" asp-for="Username" id="your_name" placeholder="Your Name" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" asp-for="Password" id="your_pass" placeholder="Password" />
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                        <button asp-action="Register" class="form-submit border border-white">Create an account</button>
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                   
                </div>
                <a href="https://localhost:7237/" class="btn btn-outline-dark mt-2  py-3 px-5 mt-2"> Back to home </a>
            </div>
        </div>
    </div>
</section>